# Ignore all node_modules folders
node_modules/

# Ignore the build output directory
dist/

# Ignore TypeScript build info files
*.tsbuildinfo

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env

# Ignore Github CIs

.github/
.github/**/* 

# Ignore package.json files

package*.json

# Ignore tsconfig.json

tsconfig.json

# Ignore cache files
.cache/

# Ignore temporary files
*.tmp
*.temp

# Ignore editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.DS_Store

# Ignore test coverage files
coverage/
.nyc_output/

# Ignore Prettier config files
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierrc.yaml
.prettierrc.yml
.prettierignore

readme.md
*.md
