{
    "endOfLine": "auto",
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "useTabs": false,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 80,
                "proseWrap": "always"
            }
        }
    ]
}
